# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend

# dependencies
frontend/node_modules
frontend/.pnp
frontend/pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/DS_Store
frontend/.env.dev
frontend/.env
frontend/env.local
frontend/env.development.local
frontend/env.test.local
frontend/env.production.local

frontend/pm-debug.log*
frontend/arn-debug.log*
frontend/arn-error.log*



# Backend

/backend/.env